<strong>Recuperando senha</strong>

<p>Uma solicitação dee recuperação de senha foi realizadaas para o email ({{ email }}). Se voce não foi o autor dessa requisição aconselhamos a trocar a senha ou ignorar! </p>

<p>Para continnuar com a recuperação de senha, utilize o token {{ token }} ou clique no link abaixo </p>

<a href="{{ link }}">Criar nova senha</a>
